html {
  font-size: 1.2rem;
}

body {
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  /* font-size: 1.2rem; */
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(233, 26%, 24%);
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}

a {
  color: hsl(233, 26%, 24%);
}

a:hover {
  text-decoration: none;
  color: #2FC793;
}

svg:hover path {
  fill: #2FC793;
}

.small-text {
  font-size: 0.87rem;
}

.button {
  background-image: -moz-linear-gradient(90deg, #31D261, #2CB9CF);
  background-image: -ms-linear-gradient(90deg, #31D261, #2CB9CF);
  background-image: -o-linear-gradient(90deg, #31D261, #2CB9CF);
  background-image: -webkit-linear-gradient(90deg, #31D261, #2CB9CF);
  background-image: linear-gradient(90deg, #31D261, #2CB9CF);
  border-radius: 96px;
  color: #ffffff;
  display: inline-block;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 0.87rem;
}

.button:hover {
  opacity: 0.6;
}

.navbar {
  padding: 0rem 8.5rem;
  font-size: 0.87rem;
  position: relative;
  z-index: 3;
}

.nav-item {
  padding: 1rem 0;
  box-sizing: content-box;
  border-bottom: 5px solid transparent;
}

.nav-item:hover {
  border-bottom: 5px solid;
  border-image: linear-gradient(0.25turn, #2CB9CF, #31D261) 10;
}

.intro-figures {
  background-image: url("images/bg-intro-desktop.svg");
  background-position: left -250px;
  background-repeat: no-repeat;
  height: 35rem;
}

.intro-img {
  position: absolute;
  top: -6em;
  left: 8rem;
  z-index: 2;
}

.intro {
  padding: 10rem 0 10rem 9rem;
}

#header {
  background-color: hsl(0, 0%, 98%);
  /* height: 35rem; */
  /* padding-left: 9rem; */
  /* overflow-y: visible; */
}

.header-row {
  margin: 0;
}

#header h1 {
  font-size: 3rem;
}

#features {
  background-color: hsl(220, 16%, 96%);
  padding: 5rem 9rem;
  position: relative;
  z-index: 1;
}

.features-headings {
  margin: 2rem auto;
}

.features-text {
  width: 50%;
  margin: 1rem 0 2rem 0;
}

.features-div {
  margin: 2rem 0;
}

/* articles section */
#articles {
  background-color: hsl(0, 0%, 98%);
  padding: 5rem 9rem;
}

.articles-header {
  margin: 1rem 0 3rem;
}

.articles-row {
  font-size: 0.85rem;
}

.articles-img {
  height: 200px;
}

.card {
  border-radius: 0.45rem;
  /* width: 80%; */
}

.card-text {
  font-size: 82%;
}

/* footer section */
#footer {
  background-color: hsl(233, 26%, 24%);
  padding: 3rem 9rem;
  font-size: 0.85rem;
}

.footer-icon {
  display: inline-block;
  margin: 4rem 0.5rem 0 0;
}

.footer-nav {
  display: inline-block;
  color: hsl(0, 0%, 98%);
  line-height: 1.2;
  margin: 1rem auto 0;
}

.footer-btn {
  /* display: inline-block;
  float: right; */
}

.footer-attribution {
  /* display: inline-block; */
  /* float: right; */
  margin-top: 2rem;
}

.align-right {
  text-align: right;
}

@media (max-width: 990px) {
  html {
    font-size: 16px;
  }

  .navbar {
    padding: 1rem 2.5rem;
    text-align: center;
  }

  .nav-item {
    padding: 0;
  }

  .intro-figures {
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-position: top -80px right;
    height: 400px;
  }

  .intro {
    padding: 0 2.5rem 5rem 2.5rem;
    text-align: center;
  }

  .intro-img {
    position: absolute;
    top: -135px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
  }

  #features {
    padding: 5rem 2.5rem;
    text-align: center;
  }

  .features-text {
    width: auto;
  }

  #articles {
    padding: 5rem 2.5rem;
  }

  .articles-img {
    width: 100%;
    height: auto;
  }

  #footer {
    padding: 5rem 2.5rem;
    text-align: center;
  }

  #footer * {
    margin-top: 1rem;
  }

  #footer div {
    margin: 0 auto;
  }
}

/* ## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%) */
